{% extends "generator/layout.html" %} {% block content %} {% load static %}
<div class="about">
    <h1>About</h1>
    <p >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo nemo veritatis 
    temporibus vitae ut aperiam in nam totam vel asperiores ducimus qui, consectetur f
    acere cum neque enim nobis placeat eaque excepturi eveniet sapiente quidem et. Rem 
    tenetur, minus, repellat, omnis ipsam quae enim ipsum fugit fuga quasi nihil sequi 
    itaque esse quidem dicta id praesentium saepe repudiandae debitis neque qui. Rem consectetur 
    cumque exercitationem, hic, id corrupti incidunt est quos provident perspiciatis corporis 
    possimus rerum enim suscipit. Rerum porro illo labore eos in, nihil alias totam expedita tempora,
    accusantium libero magni voluptas, laborum quaerat incidunt quae dicta. Corrupti recusandae quod 
    reiciendis commodi vitae quasi temporibus! Cupiditate natus, beatae officiis harum quas fugit 
    repellat necessitatibus sint rerum magnam omnis architecto maxime dolorum iste tenetur vitae eum 
    velit consequatur quos odio voluptatum iusto, vel maiores aliquam. Dolor, repudiandae alias? Id 
    provident maiores sed asperiores in omnis eveniet veniam laudantium ea cum delectus, at dolor nisi 
    vero? Autem dolorem cupiditate ipsa corporis nam placeat at quia voluptatibus nesciunt pariatur 
    labore accusantium enim, aspernatur similique libero nulla natus mollitia laborum velit consequatur 
    et voluptas rerum tempora aliquid. Animi a, sequi non eos ex numquam tempore molestiae aperiam error ut quisquam quia? Nemo, aperiam doloremque quos aliquam corporis fugit eveniet sit error neque modi iusto cumque quasi soluta odio illo quae ipsum exercitationem minus itaque rerum totam eum explicabo culpa inventore! Explicabo magnam quasi aut rerum deleniti harum ut, tenetur reprehenderit expedita autem. Aliquid maiores inventore dolorum vel hic assumenda illum iusto quam, cum expedita quas soluta aut rem. Doloribus sunt, excepturi eligendi explicabo magnam placeat qui voluptatem id alias voluptates sed minima sapiente, voluptas, commodi quam cumque labore illo laudantium! Reiciendis maiores dolore sit at, expedita, vero quia necessitatibus est 
    rerum sapiente numquam commodi ea libero veritatis ipsum ducimus qui cum. Est, minus ducimus.</p>
</div>

{% endblock %}